#nav.navbar.bg-light
  = link_to t('.home'), root_path, class: 'nav-link'
  - if user_signed_in?
    = link_to t('.your_shop'), shops_path, class: 'nav-link'
  .ml-auto
    - if user_signed_in?
      = link_to t('.sign_out'), destroy_user_session_path, method: :delete, class: 'nav-link'
    - else
      = link_to t('.sign_in'), new_user_session_path, class: 'nav-link'
